@font-face {
    font-family: gilyroy;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: areBar;
    src: url(../fonts/Aerovias\ Brasil\ NF.ttf);
}

@font-face {
    font-family: tapeworm;
    src: url(../fonts/TAPEWORM.TTF);
}

*{
     padding: 0;
     margin: 0;
}

body,html{
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

body::-webkit-scrollbar{
    display: none;
}


.container {
    display: block;
    margin-top: 100px;
}
.section-1
{
    margin-left: 40px;
    width: 1450px;
    height: 600px;
    border: 1px solid black;
    background-color: rgb(202, 224, 224);
    border-color: rgb(7, 7, 7);
    box-shadow: 10px 10px 1px rgb(195, 190, 190);
    border-radius: 20px;
    text-align: center;
}
.section-1 p{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(33, 148, 141);
    display: flex;
}

.btn
{
    color: rgb(32, 106, 104);
    background-color: #d2f4f1;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid rgb(32, 106, 104);
    
}
.information
{
    display: flex;
}
.info
{
    width: 700px;
    height: 500px;
    margin-top: 50px;
}
.img
{
    width: 700px;
    height: 350px;
    margin-top: 50px;
    box-shadow: 10px 2px 10px black;
}
h1
{
    text-align: justify;
    color: rgb(17, 89, 89);
}
.section-3 {

    border-color: rgb(47, 90, 90);
    box-shadow: 2px 2px 15px rgb(195, 190, 190);
    margin: 20px 40px;
    border-radius: 20px;
    background-color: #f5f5f5;
}

.feature-img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 5px 10px 5px grey;
}

.our-features {
    font-size: 25px;
    color: rgb(176, 205, 203);
    font-style: oblique;
    margin-left: 30px;
    display: block;
}

.features {
    margin-top: 20px;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(17, 59, 31);
    display: flex;
}
.feature-cards
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.quality-img
{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
}
.card
{
   font-size: 20px;
   text-align: center;
   border: 1px rgb(10, 10, 9) solid;
    border-radius: 30px;
    width: 700px;
    height: 300px;
    background-color: azure;
    box-shadow: 2px 2px 20px grey ;
    padding: 10px;
    margin: 10px 40px;
}
.card:hover
{
    height: 310px;
    width: 730px;
    box-shadow: 2px 2px 30px grey;

}
h2{
    font-size: 40px;
    color: #134B3E;
    font-weight:bold ;
    font-family: gilyroy;
}
h4{
    margin-top: 40px;
    text-align: center;
    color: rgb(13, 53, 60);
    font-size: 22px;
}
.section-2 {
    border-color: rgb(47, 90, 90);
    box-shadow: 2px 2px 15px rgb(195, 190, 190);
    margin: 20px 40px;
    border-radius: 20px;
    background-color: #f5f5f5;
}