@font-face {
    font-family: gilyroy;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: areBar;
    src: url(../fonts/Aerovias\ Brasil\ NF.ttf);
}

@font-face {
    font-family: tapeworm;
    src: url(../fonts/TAPEWORM.TTF);
}

*{
     padding: 0;
     margin: 0;
}

body,html{
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

body::-webkit-scrollbar{
    display: none;
}


.container {
    display: block;
    margin-top: 100px;
}
.section-1
{
    margin-left: 60px;
    width: 1450px;
    height: 600px;
    border: 1px solid black;
    border-color: rgb(7, 7, 7);
    box-shadow: 10px 10px 1px rgb(195, 190, 190);
    border-radius: 20px;
    text-align: center;
}
.section-1 p{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 70px;
    display: flex;
    margin-left: 550px;
    font-family: "gilyroy";
    box-shadow: 2px 2px 10px grey;
    width: 300px;

}
.section-1 img{
    width: 600px;
    height: 300px;
    margin: 20px;
    box-shadow: 5px 5px 10px grey;
}
.btn
{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid rgb(32, 106, 104);
    box-shadow: 2px 2px 10px grey;
    
}
.information
{
    display: flex;
}
.info
{
    width: 700px;
    height: 500px;
    margin-top: 50px;
}
.img
{
    width: 700px;
    height: 350px;
    margin-top: 50px;
    box-shadow: 10px 2px 10px black;
}
h1
{
    text-align: justify;
}
