@font-face {
    font-family: gilyroy;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: areBar;
    src: url(../fonts/Aerovias\ Brasil\ NF.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-family: gilyroy;
}

body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#container{
    height: 100vh;
    width: 100vw;
}

#user-info{
    height: 25vh;
    width: 100%;
    margin-top: 10vh;
    display: flex;
    align-items: center;
}

#profile{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    background-color: green;
    overflow: hidden;
}

#profile img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

#info{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;  
    margin-left: 2vw;  
}

.name{
    font-size: 3vw;
    font-weight: 900;
}

.email{
    color: #aba7a7;
    font-size: 1.5vw;
}

.btns{
    margin-top: 3vh;
    display: flex;
    gap: 2vw;
}
.btns a{
    background-color: #138b65;
    text-decoration: none;
    padding: 1vh 3vw;
    font-size: 1.2em;
    color: #f5f5f5;
}

.btns a:hover{
    background-color: #15af7e;
}

#courses{
    height: 50vh;
    width: 100%;
    white-space: nowrap;
    color: gray ;
}

#courses h2{
    font-size: 4vw;
    text-align: center;
}

#courses h2 span{
    font-family: areBar;
    color: #117958;
}

#course-container{
    height: 95%;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 4vh;
}  


#course-container h3{
    text-align: center;
    margin-top: 10vh;
    font-size: 2vw;
}


#course-container::-webkit-scrollbar{
    display: none;
}

.course{
    height: 90%;
    width: 30vw;
    background-color: #DDDCDC;
    margin: 0 2vw;
    font-size: 1.4em;
    color: black;
    font-weight: 700;
     display:inline-block;
}


.course span{
    display: flex;
    gap: 1vw;
    text-transform: capitalize;
    margin-top:3vh ;
    margin-left: 20px;
}



.course a{
    font-size: 2vw;
    padding: 0.5vh 3vw;
     margin-left: 2vw;
    background-color: #119581;
    color: #f5f5f5;
    margin-top: 3vh;
    display: block;
    width: 40%;
}


.course a:hover{
    background-color: #14a778;
}

#setting-page{
    position: absolute;
    height: 100%;
    width: 100%;
    background:linear-gradient(to bottom,#a2b5afab,#000000);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

#setting-page h2{
 text-align: center;
 font-size: 3.5vw;
 margin-top:4vh;
}

#setting-page h2 span{
    font-family: areBar;
    color: #0d553e;
    font-size: 4vw;
}

#setting-container{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#options{
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#options button{
    height: 8vh;
    width: 20vw;
    text-align: center;
    margin-top: 6vh;
    margin-left: 4vw;
    font-size: 1.5vw;
    background-color: #147e5c;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
#close{
    position: absolute;
    top: 10vh;
    right: 10%;
    font-size: 4vw;
    cursor: pointer;
}