@font-face {
    font-family: gilyroy;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: areBar;
    src: url(../fonts/Aerovias\ Brasil\ NF.ttf);
}


* {
    padding: 0;
    margin: 0;
    font-family: gilyroy;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: f1f0f0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0px;
    padding: 0px;
}

.menu {
    display: flex;
}

.menu-item {
    background-color: #57b59f;
    min-height: 100vh;
    width: 300px;

}

.menu-content {
    width: 100%;

}

.container {
    display: flex;
    align-items: center;
    margin: 70px 20px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;


}

.container:hover {
    background-color: #d6e5e2;
}

.img {
    height: 30px;
    width: 20px;
}

.font {
    font-size: 25px;
    margin-left: 30px;
}

.content_body {
    display: flex;
    flex-direction: column;
    margin-left: 850px;
    margin-top: 30px;
    
}

.headingfont {
    font-size: 30px;
    margin-bottom: -20px;
}

.inputbox {
    height: 25px;
    width: 250px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 5px;
    font-size: 25px;
    margin-right: 20px;
}
.btnsearch {
    height: 35px;
    width: 100px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: #57b59f;
    cursor: pointer;
}

.paragraph {
    font-size: 20px;
}

@media screen and (min-width:150px) and (max-width:600px) {
    .menu-item {
        width: 100px;
    }

    .font {
        visibility: hidden;
    }

    .img {
        height: 20px;
        width: 30px;
    }

    .menu-content {
        width: 80%;
    }

    .content_body {
        visibility: hidden;
    }
    .menu-item {
        width:80px
    
    }

}

@media screen and (min-width:601px) and (max-width:800px) {
    .menu-item {
        width: 100px;
    }

    .font {
        visibility: hidden;
    }

    .img {
        height: 30px;
        width: 40px;
    }

    .menu-content {
        width: 80%;
    }

    .content_body {
        visibility: hidden;
    }
    .bodycontent {
        margin-top:20px
    }

}

@media screen and (min-width:801px) and (max-width:1000px) {
    .menu-content {
        width: 80%;
    }
    .content_body {
        visibility: hidden;
    }
    .bodycontent{
        font-size: 20px;
    }
    
}

@media screen and (min-width:1001px) and (max-width:1351px) {
    .menu-content {
        width: 100%;
    }
}
