@font-face {
    font-family: gilyroy;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: areBar;
    src: url(../fonts/Aerovias\ Brasil\ NF.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}



.sub_title{
   padding: 0.8vw 3vw;
   font-size: 3.8vw;
   margin-top: 5vw;
   text-align: center;
   background-color: rgb(33, 42, 33)
}
.div_subtitle
{
   
        height:40vh;
        border-radius: 50%;
        width: 50vw;
        background-color: #309b82a1;
        filter: blur(100px);
        box-shadow:40px 40px 100px #309b82a1;
        position: absolute;
        top: 4%;
        left: 20%;
        z-index:1;

}

