@font-face {
    font-family: gilyroy;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: areBar;
    src: url(../fonts/Aerovias\ Brasil\ NF.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}



#show-div
 {
        height:40vh;
        border-radius: 50%;
        width: 50vw;
        background-color: #309b82a1;
        filter: blur(100px);
        box-shadow:40px 40px 100px #309b82a1;
        position: absolute;
        top: 4%;
        left: 20%;
        z-index:1;
    }
#heading-txt{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 45px;
    margin-top: 10vh;
    position: relative;
    z-index: 1;
    margin-top: px;
}



#heading-txt h1{
    font-weight: bolder;
}

#heading-txt span{
    color: #32c1a0a1;
    font-family: areBar;
}
.Quete
{
   
    margin-top: 70px;
    font-size: 25px;
    font-family: gilyroy;
}

.quete
{
    margin-top: -30px;
    font-size: 20px;
    font-family: gilyroy;
}


.page1-img{
    height: 50%;
    width: 20vw;
    position: absolute;
    top: 18%;
    left: 10%;
    filter: drop-shadow(10px 10px 60px #4ae1c381);
    z-index: 1;
    animation: moveImg1 5s linear infinite;
}
.Student_img
{
    height: 100px;
    width: 80px;
}


