@font-face {
    font-family: gilyroy;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: areBar;
    src: url(../fonts/Aerovias\ Brasil\ NF.ttf);
}


* {
    padding: 0;
    margin: 0;
    font-family: gilyroy;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

#page1 {
    height: 100vh;
    width: 100vw;
    font-family: gilyroy;
    position: relative;
    z-index: 1;
}

#show-div {
    height: 40vh;
    border-radius: 50%;
    width: 50vw;
    background-color: #309b82a1;
    filter: blur(100px);
    box-shadow: 40px 40px 100px #309b82a1;
    position: absolute;
    top: 4%;
    left: 20%;
    z-index: 1;
}

#heading-txt {
    width: 100%;
    text-align: center;
    line-height: 0.7;
    font-size: 4.9vw;
    font-weight: 900;
    margin-top: 10vh;
    position: relative;
    z-index: 1;
}

#heading-txt h1 {
    font-weight: bolder;
}

#heading-txt span {
    color: #32c1a0a1;
    font-family: areBar;
}

.page1-img {
    height: 40%;
    width: 20vw;
    position: absolute;
    top: 38%;
    left: 10%;
    filter: drop-shadow(10px 10px 60px #4ae1c381);
    z-index: 1;
    animation: moveImg1 5s linear infinite;
}

.page1-img1 {
    height: 50%;
    width: 20vw;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 1%;
    animation: moveImg 5s linear infinite;
    filter: drop-shadow(10px 10px 60px #e1d94a81);
}


@keyframes moveImg {
    0% {
        top: 50%;
    }

    100% {
        top: 52%;
    }
}

@keyframes moveImg1 {
    0% {
        top: 38%;
    }

    100% {
        top: 40%;
    }
}


#page2 {
    height: 80vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 video {
    height: 180%;
    width: 200%;
    cursor: none;
}

#overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.735), transparent, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.735));
}

#overlay h2 {
    height: 20vh;
    width: 100vw;
    text-align: center;
    font-size: 9vw;
    border-radius: 50%;
}


#overlay h2 span {
    font-family: areBar;
    color: #23dfb3a1;
}

#overlay h6 {
    font-size: 2vw;
    text-align: center;
    color: #e6dfdf;
}

#move-div {
    height: 100px;
    width: 100px;
    background-color: #23dfb3d2;
    filter: blur(4px);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#page3 {
    height: 100vh;
    width: 100vw;
}

#page3 h2 {
    text-align: center;
    font-size: 9vw;
}

#page3 h2 span {
    color: #32c1a0a1;
    font-family: areBar;
}

#page3 h6 {
    text-align: center;
    font-size: 2vw;
}

#course-container {
    height: 70vh;
    width: 100vw;
    white-space: nowrap;
    margin-top: 5vh;
    overflow-y: hidden;
    overflow-x: scroll;
}

#course-container::-webkit-scrollbar {
    display: none;
}

.course {
    height: 90%;
    width: 25vw;
    border-radius: 9px;
    background: #8f8d8d3c;
    box-shadow: 20px 20px 20px #0cffc60f,
        -20px -20px 20px #e4fd060e;
    margin: auto;
    margin-left: 5vw;
    display: inline-block;
    overflow: hidden;

}

.course:hover {
    scale: 1.01;
}

.img-section {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-section img {
    height: 100%;
}

.img-section .splimg {
    height: 115%;
}

.course span {
    text-wrap: wrap;
    font-weight: 300;
    font-size: 1.5vw;
    text-align: center;
    width: 100%;
    display: block;
}

.course a {
    font-size: 2vw;
    padding: 1vh 2vw;
    background-color: #309b82a1;
    color: #f5f5f5;
    text-decoration: none;
    display: block;
    margin: 4vh auto;
    width: 15vw;
}


.course a:hover {
    background-color: #008b62;
}


.last {
    height: 20vh;
    width: 10vw;
    background-color: #429b86ce;
    margin: auto;
    margin-top: 40%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.last a {
    background-color: none;
    font-size: 5vw;
}

#page4 {
    height: 100vh;
    width: 100vw;
}

#page4 {
    font-size: 5vw;
    text-align: center;
}

#page4 h2 span {
    color: #32c1a0a1;
    font-family: areBar;
}

#info-container {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 7vh;
}

#info {
    height: 100%;
    width: 30vw;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
}

#info p {
    font-size: 1.5vw;
}



#info a {
    font-size: 2vw;
    padding: 1vh 2vw;
    background-color: #309b82a1;
    color: #f5f5f5;
    text-decoration: none;
    display: block;
    margin: 4vh auto;
    width: 15vw;
}

#info a:hover {
    background-color: #008b62;
}


#editor-design {
    height: 100%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#code {
    height: 90%;
    width: 90%;
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2b2b;
    box-shadow: 10px 10px 100px #23dfb3a1,
        -10px -10px 100px #23dfb3d2;
}

#code img {
    height: 100%;
    width: 100%;
}

#page5 {
    height: 110vh;
    width: 100vw;
}


#page5 h2 {
    font-size: 7vw;
    text-align: center;
}

#page5 h2 span {
    color: #32c1a0a1;
    font-family: areBar;
}

#more-container {
    height: 90vh;
    width: 100vw;
    padding: 2vh 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#more-container img {
    position: relative;
    height: 90%;
    filter: drop-shadow(10px 10px 50px gray);
    top: 0;
    left: 0;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) linear;
}

#more-fea {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.img-container {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.img-container img {
    height: 110%;
    width: 110%;
    filter: drop-shadow(2px 2px 10px #fffeff);
}

.resume {
    position: absolute;
    top: 2%;
    left: 10%;
}

.team {
    position: absolute;
    top: 30%;
    left: 20%;
}

.demo {
    position: absolute;
    top: 40%;
    left: 3%;
}

.certificate {
    position: absolute;
    top: 5%;
    left: 35%;
}

.placement {
    position: absolute;
    top: 10%;
    left: 60%;
}

.aboutus {
    position: absolute;
    top: 40%;
    left: 65%;
}

.contactus {
    position: absolute;
    top: 20%;
    left: 80%;
}


#more-fea span {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4vh;
    background-color: #27c090;
    padding: 1vh 2vw;
    border-radius: 14px;
    font-size: 1.5vw;
    font-weight: 700;
    box-shadow: 2px 2px 20px #89f6d3;
}


/* responsive code start....*/


@media screen and (max-width:420px) {


    #page1 {
        height: 50vh;
        width: 100vw;
    }


    #heading-txt {
        width: 100%;
        text-align: center;
        line-height: 0.7;
        font-size: 6.6vw;
        font-weight: 900;
        margin-top: 20vh;
        position: relative;
        z-index: 1;
    }

    .page1-img1 {
        right: 0%;
        top: 95%;
    }


    @keyframes moveImg {
        0% {
            top: 95%;
        }

        100% {
            top: 97%;
        }
    }

    #page2 {
        height: 50vh;
        width: 100vw;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 7vh;
    }

    #page2 video {
        height: 200%;
        width: 100%;
        cursor: none;
    }

    #overlay h2 {
        height: 20vh;
        width: 100vw;
        text-align: center;
        font-size: 14vw;
        border-radius: 50%;
    }


    #overlay h2 span {
        font-family: areBar;
        color: #23dfb3a1;
    }

    #overlay h6 {
        font-size: 6vw;
    }

    #move-div {
        height: 1px;
        width: 1px;
    }


    #page3 {
        height: 70vh;
        width: 100vw;
        margin-bottom: 7vh;
    }

    #page3 h2 {
        text-align: center;
        font-size: 16vw;
    }

    #page3 h2 span {
        color: #32c1a0a1;
        font-family: areBar;
    }

    #page3 h6 {
        text-align: center;
        font-size: 4vw;
    }

    #course-container {
        height: 45vh;
        width: 100vw;
    }

    .course {
        height: 90%;
        width: 65vw;
        padding: 1vh 3vw;

    }

    .img-section {
        height: 35%;
        margin-bottom: 2vh;
    }

    .course span {
        font-size: 3.5vw;
    }

    .course a {
        font-size: 4vw;
        width: 25vw;
    }

    .last {
        height: 15vh;
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .last a {
        font-size: 14vw;
    }


    #page4 {
        height: 110vh;
        width: 100vw;
    }

    #page4 {
        font-size: 9vw;
        text-align: center;
    }

    #page4 h2 span {
        color: #32c1a0a1;
        font-family: areBar;
    }

    #info-container {
        height: 90vh;
        width: 100%;
        margin-top: 7vh;
        flex-direction: column-reverse;
    }

    #info {
        height: 50%;
        width: 90vw;
        font-size: 5vw;
        gap: 4vh;
    }

    #info p {
        font-size: 4vw;
    }

    #info a {
        font-size: 5vw;
        margin: 1vh auto;
        width: 35vw;
        font-weight: 900;
    }

    #editor-design {
        height: 35%;
        width: 95vw;
    }

    #code {
        height: 90%;
        width: 90%;
    }

    #page5 {
        height: 110vh;
        width: 100vw;
    }

    #page5 h2 {
        font-size: 14vw;
    }

    #more-container {
        height: 100vh;
        width: 100vw;
        padding: 2vh 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #more-container img {
        position: relative;
        height: 40%;
    }

    #more-fea {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .img-container {
        height: 150px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }


    .img-container img {
        height: 100%;
        width: 100%;
        filter: drop-shadow(2px 2px 10px #fffeff);
    }

    .resume {
        position: absolute;
        top: 15%;
        left: 5%;
    }

    .team {
        position: absolute;
        top: 30%;
        left: 2%;
    }

    .demo {
        position: absolute;
        top: 50%;
        left: 10%;
    }

    .certificate {
        position: absolute;
        top: 10%;
        left: 35%;
    }

    .placement {
        position: absolute;
        top: 30%;
        left: 70%;
    }

    .aboutus {
        position: absolute;
        top: 50%;
        left: 65%;
    }

    .contactus {
        position: absolute;
        top: 15%;
        left: 70%;
    }

    #more-fea span {
        height: 3vh;
        font-size: 3.5vw;
        white-space: nowrap;
    }

}

@media screen and (min-width:421px) and (max-width:610px) {

    #page1 {
        height: 65vh;
        width: 100vw;
    }

    #heading-txt {
        font-size: 5.9vw;
    }

    .page1-img {
        top: 48%;
    }

    .page1-img1 {
        top: 100%;

    }


    @keyframes moveImg {
        0% {
            top: 100%;
        }

        100% {
            top: 98%;
        }
    }

    @keyframes moveImg1 {
        0% {
            top: 48%;
        }

        100% {
            top: 20%;
        }
    }

    #page2 {
        height: 60vh;
        width: 100vw;
    }

    #overlay h2 {
        font-size: 12vw;
    }

    #overlay h6 {
        font-size: 4vw;
    }

    #move-div {
        height: 50px;
        width: 50px;
    }


    #page3 {
        height: 80vh;
        width: 100vw;
    }

    #page3 h2 {
        text-align: center;
        font-size: 12vw;
    }

    #page2 video {
        height: 200%;
    }


    #page3 h6 {
        text-align: center;
        font-size: 4vw;
    }

    #course-container {
        height: 50vh;
        width: 100vw;
    }

    .course {
        height: 90%;
        width: 45vw;

    }

    .img-section {
        height: 40%;
        width: 100%;
    }

    .img-section img {
        height: 100%;
    }

    .img-section .splimg {
        height: 115%;
    }

    .course span {
        font-size: 2.5vw;
    }

    .course a {
        font-size: 2.5vw;
        width: 25vw;
        text-align: center;
    }


    .last {
        height: 20vh;
        width: 15vw;
    }

    .last a {
        font-size: 10vw;
    }

    #page4 {
        height: 120vh;
        width: 100vw;
    }

    #page4 {
        font-size: 9vw;
        text-align: center;
    }

    #page4 h2 span {
        color: #32c1a0a1;
        font-family: areBar;
    }

    #info-container {
        height: 90vh;
        width: 100%;
        margin-top: 7vh;
        flex-direction: column-reverse;
    }

    #info {
        height: 50%;
        width: 90vw;
        font-size: 5vw;
        gap: 4vh;
    }

    #info p {
        font-size: 3.8vw;
    }


    #info a {
        font-size: 4vw;
        margin: 1vh auto;
        width: 35vw;
    }


    #editor-design {
        height: 35%;
        width: 95vw;
    }

    #code {
        height: 90%;
        width: 90%;
    }


    #page5 {
        height: 110vh;
        width: 100vw;
    }


    #page5 h2 {
        font-size: 7vw;
        text-align: center;
    }


    #more-container {
        height: 90vh;
        width: 100vw;
        padding: 2vh 3vw;
    }

    #more-container img {
        position: relative;
        height: 60%;
    }

    #more-fea {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .img-container {
        height: 100px;
        width: 100px;
    }


    .img-container img {
        height: 110%;
        width: 110%;
    }

    .resume {
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .team {
        position: absolute;
        top: 30%;
        left: 4%;
    }

    .demo {
        position: absolute;
        top: 50%;
        left: 10%;
    }

    .certificate {
        position: absolute;
        top: 5%;
        left: 35%;
    }

    .placement {
        position: absolute;
        top: 10%;
        left: 60%;
    }

    .aboutus {
        position: absolute;
        top: 50%;
        left: 60%;
    }

    .contactus {
        position: absolute;
        top: 30%;
        left: 70%;
    }

    #more-fea span {
        font-size: 2.5vw;
    }

}

@media screen and (min-width:611px) and (max-width:750px) {

    #page1 {
        height: 80vh;
    }

    #heading-txt {
        width: 100%;
        font-size: 5.9vw;
    }


    .page1-img {
        top: 38%;
        left: 10%;
    }

    .page1-img1 {
        top: 30%;
    }


    @keyframes moveImg {
        0% {
            top: 30%;
        }

        100% {
            top: 22%;
        }
    }



    #page2 {
        height: 60vh;
        margin-bottom: 5vh;
    }

    #page2 video {
        height: 180%;
        width: 200%;
        cursor: none;
    }



    #overlay h2 {
        font-size: 10vw;
    }



    #overlay h6 {
        font-size: 3vw;
    }

    #move-div {
        height: 70px;
        width: 70px;
    }

    #page3 {
        height: 85vh;
        width: 100vw;
    }

    #page3 h2 {
        text-align: center;
        font-size: 10vw;
    }

    #page3 h2 span {
        color: #32c1a0a1;
        font-family: areBar;
    }

    #page3 h6 {
        text-align: center;
        font-size: 3vw;
    }

    #course-container {
        height: 60vh;
        width: 100vw;
    }

    .course {
        height: 90%;
        width: 35vw;
        padding: 1vh 2vw;

    }

    .course:hover {
        scale: 1.01;
    }

    .img-section {
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-section img {
        height: 100%;
    }

    .img-section .splimg {
        height: 115%;
    }

    .course span {
        font-size: 2.2vw;
    }

    .course a {
        font-size: 3vw;
        padding: 1vh 2vw;
        background-color: #309b82a1;
        color: #f5f5f5;
        text-decoration: none;
        display: block;
        margin: 4vh auto;
        width: 20vw;
    }


    .course a:hover {
        background-color: #008b62;
    }


    .last {
        margin-top: 30%;
    }

    .last a {
        background-color: none;
        font-size: 10vw;
    }


    #page4 {
        height: 85vh;
        width: 100vw;
    }

    #page4 {
        font-size: 5vw;
        text-align: center;
    }

    #page4 h2 span {
        color: #32c1a0a1;
        font-family: areBar;
    }

    #info-container {
        height: 70vh;
        width: 100%;
        justify-content: space-between;
        margin-top: 7vh;
    }

    #info {
        height: 100%;
        width: 40vw;
        font-size: 3.4vw;
        display: flex;
        gap: 2vh;
    }

    #info p {
        font-size: 2vw;
    }

    #info a {
        font-size: 3vw;
        padding: 1vh 2vw;
        width: 25vw;
    }

    #info a:hover {
        background-color: #008b62;
    }


    #editor-design {
        height: 50%;
        width: 55vw;
    }

    #code {
        height: 100%;
        width: 100%;
    }


    #more-fea span {
        font-size: 2.5vw;
    }

    #more-container img {
        position: relative;
        height: 55%;
    }

}

@media screen and (min-width:751px) and (max-width:1000px) {

    #page1 {
        height: 90vh;
        width: 100vw;
        font-family: gilyroy;
        position: relative;
        z-index: 1;
    }


    #heading-txt {
        font-size: 5.7vw;
    }

    .page1-img1 {
        top: 20%;
    }


    @keyframes moveImg {
        0% {
            top: 20%;
        }

        100% {
            top: 22%;
        }
    }




    #page2 {
        height: 60vh;
        width: 100vw;
    }

    #page2 video {
        height: 180%;
        width: 200%;
        cursor: none;
    }

    #overlay h6 {
        font-size: 2.2vw;
    }

    #move-div {
        height: 70px;
        width: 70px;
    }



    #page3 {
        height: 100vh;
        width: 100vw;
    }

    #page3 h2 {
        text-align: center;
        font-size: 9vw;
    }

    #page3 h2 span {
        color: #32c1a0a1;
        font-family: areBar;
    }

    #page3 h6 {
        text-align: center;
        font-size: 2vw;
    }

    #course-container {
        height: 70vh;
        width: 100vw;
        white-space: nowrap;
        margin-top: 5vh;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    #course-container::-webkit-scrollbar {
        display: none;
    }

    .course {
        height: 90%;
        width: 30vw;
        padding: 2vh 2vw;

    }


    .course span {
        font-size: 2.2vw;
    }

    .course a {
        font-size: 2.2vw;
        padding: 1.5vh 2vw;
        background-color: #309b82a1;
        color: #f5f5f5;
        text-decoration: none;
        display: block;
        margin: 4vh auto;
        width: 15vw;
    }

    .last {
        height: 20vh;
        width: 15vw;
    }

    .last a {
        background-color: none;
        font-size: 9vw;
    }


    #page4 {
        height: 100vh;
        width: 100vw;
    }

    #page4 {
        font-size: 5vw;
        text-align: center;
    }

    #page4 h2 span {
        color: #32c1a0a1;
        font-family: areBar;
    }

    #info-container {
        height: 70vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 7vh;
    }

    #info {
        height: 100%;
        width: 40vw;
        font-size: 2.6vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4vh;
    }

    #info p {
        font-size: 2.2vw;
    }



    #info a {
        font-size: 2.5vw;
        width: 20vw;
    }

    #editor-design {
        height: 60%;
        width: 60vw;
    }

    #code {
        height: 100%;
        width: 95%;
    }

    #more-fea span {
        font-size: 2vw;
    }

    #more-container img {
        position: relative;
        height: 62%;
    }

}