#title h2{
    text-align: center;
    font-size: 9vw;
    margin-top: 110px;
}

#title h2 span{
    color: #32c1a0a1;
    font-family: areBar;
    margin-top: 110px;
   
}
.card-container {
    height: 300px;
    width: 95%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.teamcard {
    width: 350px;
    height:400px;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid black;
    box-shadow: 10px 10px 100px #23dfb3a1;
    border-radius:15px ;
}

.teamcard:hover {
    width: 350px;
    text-align: center;
    transform: translateY(-10px);
}
.about-caed-img {
    height: 180px;
    width: 180px;
    border-radius: 130px;
    margin: 10px auto;
    display: block;
}

.card-title-name {
    font-weight: bold;
    font-size: 23px;
    display: block;
}

.card-sub-title-name {
    color: rgb(99, 98, 98);
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    display: block;
}
.about-card-icon-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 50px;
    margin-top:  50px;
}

.card-icon {
    height: 50px;
    width: 40px;
    background-color: aliceblue;
    border-radius: 5px;
}

.about-card-icons {
    height: 35px;
    margin-top: 6px;
}
@media screen and (max-width:768px){
.card-container {
    height: fit-content;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1px;
}

.team-card {
    width: 350px;
    text-align: center;
    padding: 10px;
    margin: 20px 10px;
    box-shadow: 0 0 10px gray;
}
.about-caed-img {
    height: 70px;
    width: 70px;
    border-radius: 70px;
    margin: 5px auto;
    display: block;
}

.card-title-name {
    font-weight: bold;
    font-size: 15px;
    display: block;
}

.card-sub-title-name {
    color: rgb(99, 98, 98);
    font-weight: 400;
    font-size: 12px;
    margin-top: 7px;
    display: block;
}

.about-card-icon-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 50px;
    margin-top: 25px;
}

.card-icon {
    height: 50px;
    width: 40px;
    background-color: rgb(246, 243, 243);
    border-radius: 5px;
}

.about-card-icons {
    height: 15px;
    margin-top: 6px;
}
}
    
