*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    display: none;
}
@font-face {
    font-family: gilyroy;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: areBar;
    src: url(../fonts/Aerovias\ Brasil\ NF.ttf);
}

.icon-bar {
    background-color: rgb(166, 159, 159);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: sticky;
    top: 50px; /* Adjust as needed */
    z-index: 999;
    border-bottom: 1px solid #ccc;
    margin-top: 80px;
}

.icon-btn {
    background: none;
    border: none;
    color: #333;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
}

.icon-btn .icon {
    font-size: 24px;
    margin-right: 8px; /* Space between icon and text */
    width: 20px;
}

.icon-btn .label {
    font-size: 20px;
}

.icon-btn:hover {
    color: #1a896f
}




